<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings file="App.Parameters.config">
      <add key="mint.username" value=""/>
      <add key="mint.password" value=""/>

      <add key="twilio.accountsid" value=""/>
      <add key="twilio.authtoken" value=""/>
      <add key="twilio.number.from" value=""/>
      <add key="twilio.number.to" value=""/>
    </appSettings>
</configuration>